header {
  box-shadow: 0px 2px 6px -2px $dark-gray;
  background-color: $gray;
  margin-bottom: 7px;
}
.upper-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 5px;
  align-items: center;

  .upper-left-nav-container {
    flex-grow: 1;
    margin-right: 2px;

    .logo {
      height: 25px;
      margin-left: 5px;
    }

  }

  .upper-left-nav-container, .menu-container {
    width: 35px;
  }

  input {
    flex-grow: 5;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: $white;
  }

  .menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 2px;

    .menu-button {
      height: 21px;
      opacity:0.9;
    }

    .menu-modal {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background-color: $white;
      display: flex;
      flex-direction: column;

      .modal-option {
        padding: 20px;
        font-size: 16px;
        padding-left: 53px;
        border-bottom: 1px solid $gray;
        font-family: $san-serif-font;
        font-weight: bold;
        text-decoration: none;
        color: $black;
      }

      #close {
        display: flex;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        background-color: $gray;
        box-shadow: 0px 2px 6px -2px $dark-gray;

        .username {
          margin-right: 30px;
          font-size: 20px;
        }
      }
    }

    .modal-closed {
      display: none;
    }
  }
}


.tabs {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 63px;

  a.tab {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 120px;
    padding-bottom: 9px;
    font-weight: bold;
    font-family: $san-serif-font;
    text-decoration: none;
    font-size: 20px;
    color: $dark-color;
    border-bottom: 2.5px solid $gray;
  }

  #selected {
    border-bottom: 2.5px solid $light-color;
  }
}

