.setlist-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: $san-serif-font;
  padding: 5vw;
}

.box-holder {
  flex-direction: row;
  display: flex;
}

.add {
  background-color: $main-color;
  color: $white;
  flex: 1;
}

.submit-form {
  background-color: $light-color;  
  padding: 10px;
}


.remove {
  background-color: $light-color;
  color: $white;
  flex: 1;
}

.song-box {
  flex: 7;
}