/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes fadeInLoad {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  background-color: #f4f4f4;
  color: #151515;
  height: 100vh; }

button, a, input:focus {
  outline-color: #2f7d83; }

input[type="submit"]:focus {
  outline: none; }

.back-arrow {
  height: 25px; }

.stream-portal {
  margin: 0 auto;
  margin-top: 30px;
  width: 85vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 1px 1px #d1d1d1 inset; }

.setlist-container {
  width: 100%;
  height: 40%;
  background: #D1D1D1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll; }

.setlist-item {
  border-bottom: 1px solid white;
  color: #D1D1D1;
  background: #273738;
  opacity: 60%;
  padding: 18px 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  transform: translateY(0);
  transition-duration: .5s;
  opacity: .8; }

.song-active {
  position: relative;
  opacity: 1; }
  .song-active:before {
    animation: fadeInLoad 1s;
    position: absolute;
    content: " ";
    width: 16px;
    height: 16px;
    right: 10px;
    top: calc(50% - 8px);
    border-radius: 50%;
    background: #52f971;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }

.subscribe-portal {
  height: 100%; }

.current-song-flag {
  position: absolute;
  bottom: 10;
  margin: 0 auto;
  padding: 10px 20px;
  background: #273738;
  border: 1px solid white;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white; }

.publisher-window {
  width: 100%;
  height: 100%; }
  .publisher-window div {
    width: 100%;
    height: 100%; }

.stream-now-button {
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: #4a2f83;
  width: 200px;
  height: 60px;
  padding: 7px 20px;
  /* background: linear-gradient(#4a2f83, #b790be); */
  background-color: white;
  /* box-shadow: inset 0 1px 1px #b790be; */
  text-align: center;
  font-family: sans-serif;
  /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
  cursor: pointer;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px; }
  .stream-now-button:hover {
    border: 1px solid;
    border-color: #9b95b2; }

.stream-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center; }

.form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: Helvetica, sans-serif; }
  .form label {
    margin: 14px 0 3px 21px; }
  .form input {
    margin: 0 12px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 14px; }
  .form input[type="submit"] {
    margin-top: 18px;
    background-color: #90b9be;
    color: #f4f4f4; }

header {
  box-shadow: 0px 2px 6px -2px #6c6c6c;
  background-color: #d1d1d1;
  margin-bottom: 7px; }

.upper-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 5px;
  align-items: center; }
  .upper-nav .upper-left-nav-container {
    flex-grow: 1;
    margin-right: 2px; }
    .upper-nav .upper-left-nav-container .logo {
      height: 25px;
      margin-left: 5px; }
  .upper-nav .upper-left-nav-container, .upper-nav .menu-container {
    width: 35px; }
  .upper-nav input {
    flex-grow: 5;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: #f4f4f4; }
  .upper-nav .menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 2px; }
    .upper-nav .menu-container .menu-button {
      height: 21px;
      opacity: 0.9; }
    .upper-nav .menu-container .menu-modal {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column; }
      .upper-nav .menu-container .menu-modal .modal-option {
        padding: 20px;
        font-size: 16px;
        padding-left: 53px;
        border-bottom: 1px solid #d1d1d1;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: none;
        color: #151515; }
      .upper-nav .menu-container .menu-modal #close {
        display: flex;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        background-color: #d1d1d1;
        box-shadow: 0px 2px 6px -2px #6c6c6c; }
        .upper-nav .menu-container .menu-modal #close .username {
          margin-right: 30px;
          font-size: 20px; }
    .upper-nav .menu-container .modal-closed {
      display: none; }

.tabs {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 63px; }
  .tabs a.tab {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 120px;
    padding-bottom: 9px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #273738;
    border-bottom: 2.5px solid #d1d1d1; }
  .tabs #selected {
    border-bottom: 2.5px solid #90b9be; }

.setlist-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  font: sans-serif; }

.box-holder {
  flex-direction: row;
  display: flex; }

.add {
  background-color: #2f7d83;
  color: #f4f4f4;
  flex: 1; }

.remove {
  background-color: #90b9be;
  color: #f4f4f4;
  flex: 1; }

.song-box {
  flex: 7; }

.set-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65;
  padding: 10px 20px;
  font-size: 16px;
  border-bottom: 1px solid #d1d1d1; }
  .set-list-item div {
    display: flex;
    align-items: center; }
  .set-list-item button {
    padding: 5px 7px;
    border-radius: 7px;
    font-weight: bold;
    color: #2f7d83;
    border: 2px solid #2f7d83; }
  .set-list-item span {
    padding: 2px; }
  .set-list-item a span {
    width: 86px; }
  .set-list-item .search-img {
    max-height: 39px;
    max-width: 39px;
    margin-right: 15px; }
  .set-list-item .set-list-name {
    font-size: 14px; }

/*# sourceMappingURL=main.css.map */
