/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #f4f4f4;
  color: #151515; }

input:focus {
  outline-color: #4a2f83; }

input[type="submit"]:focus {
  outline: none; }

header {
  box-shadow: 0px 2px 6px -2px #6c6c6c;
  background-color: #d1d1d1;
  margin-bottom: 7px; }

.upper-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 5px;
  align-items: center; }
  .upper-nav .upper-left-nav-container {
    flex-grow: 1;
    margin-right: 2px; }
    .upper-nav .upper-left-nav-container .logo {
      height: 25px; }
  .upper-nav input {
    flex-grow: 5;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: #f4f4f4; }
  .upper-nav .menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 2px; }
    .upper-nav .menu-container .menu-button {
      height: 21px;
      opacity: 0.9; }
    .upper-nav .menu-container .menu-modal {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background-color: #d1d1d1;
      display: flex;
      flex-direction: column; }
      .upper-nav .menu-container .menu-modal .modal-option {
        padding: 20px;
        font-size: 16px;
        padding-left: 53px;
        border-bottom: 1px solid #d1d1d1;
        font-family: Helvetica, sans-serif;
        text-decoration: none;
        color: #151515; }
      .upper-nav .menu-container .menu-modal #close {
        display: flex;
        padding: 25px; }
    .upper-nav .menu-container .modal-closed {
      display: none; }

.tabs {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 63px; }
  .tabs a.tab {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 120px;
    padding-bottom: 9px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #272838;
    border-bottom: 2.5px solid #d1d1d1; }
  .tabs #selected {
    border-bottom: 2.5px solid #b790be; }

.stream-portal {
  margin: 0 auto;
  margin-top: 30px;
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: 0 0 10px 2px #d1d1d1 inset; }

.setlist-container {
  width: 40%;
  height: 100%;
  background: #D1D1D1; }

.song-item {
  border-top: 1px solid #b790be;
  border-bottom: 1px solid #b790be;
  opacity: 60%; }

.song-active {
  opacity: 95%; }

.publisher-window {
  width: 100%;
  height: 100%; }

.stream-now-button {
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: #4a2f83;
  width: 200px;
  height: 60px;
  padding: 7px 20px;
  /* background: linear-gradient(#4a2f83, #b790be); */
  background-color: white;
  border: 1px solid;
  /* box-shadow: inset 0 1px 1px #b790be; */
  border-color: #9b95b2;
  text-align: center;
  font-family: sans-serif;
  /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
  cursor: pointer; }

.stream-button-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center; }

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: Helvetica, sans-serif; }
  .login-form label {
    margin: 14px 0 3px 21px; }
  .login-form input {
    margin: 0 12px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 14px; }
  .login-form input.session-submit {
    margin-top: 18px;
    background-color: #b790be;
    color: #f4f4f4; }

/*# sourceMappingURL=main.css.map */
